#mode-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    height: 100%;
}

#midheader-container {
    width: 20%;
    height: 100%;
    justify-content: center;   
    align-items: center;
}

#instruction {
    width: 40%;
    height: 100%;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10%;
    width: 100%;
    background-color: #222222;
    color: white;
}

.score {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 100%;
}

.score-text {
    font-size: larger;
    width: 40%;
    height: 100%;
}

.game {
    display: grid; 
    grid-template-columns: 1fr 2fr 2fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "picker-container1 battlefield1 battlefield2 picker-container2";
    width: 100%;
    height: 90%;
}

.head-button.selected-button {
    background-color: white; 
}

.hidden {
    display: none;
}

.battlefield {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 4fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "picked"
        "result";
    height: 100%;
    width: 90%;
}

.picker-container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 2% 2%; 
    grid-template-areas: 
        "."
        "picked"
        "result"
        "."; 
    height: 100%;
    width: 100%;
}

.rsp-container {
    display: block;
    justify-content: center;   
    align-items: center;
    margin: 5%;
    padding: 5%;
    height: 100%;
    width: 100%;
}

.icon {
  width: 100%; 
  height: 100%;
  display: block;
}

.rock {
    background-color: #B22222;
}

.sciss {
    background-color: #FFD700;
}

.paper {
    background-color: #1E90FF;
}

.head-button {
    border: none;
    width: auto;
    height: 100%;
    background-color: #CCCCCC;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}