#player1 {
    display: flex;
    align-items: flex-start;
    margin: auto;
}

#player2 {
    display: flex;
    align-items: flex-end;
    margin: auto;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.score {
    display: flex;
    flex-direction: row;
}

.game {
    display: flex;
    flex-direction: row;
}

.player {
    display: flex;
    flex-direction: column;
    height: 60%;
}

.rsp {
    margin: auto;
}

.rock {
    background-color: #B22222;
}

.sciss {
    background-color: #FFD700;
}

.paper {
    background-color: #1E90FF;
}