// body and html ---------------------------
html {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1.5fr 0.5fr 10fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "header-area"
        "instruction-area"
        "game-area"
        "footer-area";
    height: 100%;
    width: 100%;
}

#instruction {
    width: 80%;
    height: 100%;
}


// HEADER AREA -----------------------------

.header {
    grid-area: header-area;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr 1fr; 
    grid-template-rows: 1fr;
    grid-template-areas: 
    "mode-container start-container score restart";
    width: 100%;
    height: 100%;
    max-height: 200px;
    background-color: #222222;
    color: white;
}

.mode-container {
    grid-area: mode-container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 100%;
    max-height: 200px;
}

.start-container {
    grid-area: start-container;
    width: 100%;
    height: 100%;
    justify-content: center;   
    align-items: center;
    max-height: 200px;
}

.score {
    grid-area: score;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 100%;
    max-height: 200px;
}

.score-text {
    width: 50%;
    height: 100%;
}

.head-button {
    border: none;
    height: 100%;
    width: 100%;
    background-color: #CCCCCC;
    max-height: 200px;
}

.head-button.selected-button {
    background-color: white; 
}

.restart {
    grid-area: restart;
    height: 100%;
    max-height: 200px;
}

.header-text {
    font-size: 4vh;
}

// INSTRUCTION AREA --------------------
.instruction-area {
    grid-area: instruction-area;
    display: flex;
    justify-content: center;
    align-content: center;
}

.instruction-text {
    width: 80%;
    height: 100%;
    text-align: center;
    text-justify: center;
    font-size: 3vh;
}

// GAME AREA ------------------------

.game-area {
    grid-area: game-area;
    display: grid; 
    grid-template-columns: 1fr 2fr 2fr 1fr; 
    grid-template-rows: 1fr;
    gap: 0px 0px; 
    grid-template-areas: 
        "picker-container1 battlefield1 battlefield2 picker-container2";
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.battlefield {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 4fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "picked"
        "result";
    height: 100%;
    width: 100%;
}

.battlefield {
    justify-content: center;   
    align-items: center;
}

.battlefield1 {
    grid-area: battlefield1;
}

.battlefield2 {
    grid-area: battlefield2;
}

.picker-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.picker-con1 {
    grid-area: picker-container1;
    
}
  
.picker-con2 {
    grid-area: picker-container2;
    
}

.rsp {
    display: block;
    justify-content: center;   
    align-items: center;
    margin: auto;
    padding: 5%;
    max-height: 30vh;
    border-radius: 25px;
}

.picker {
    max-height: 50%;
    width: auto;
}

.picked {
    grid-area: picked;
    margin: auto;
    max-height: 60%;
    width: auto;
}

.icon {
  width: 100%; 
  max-width: 200px;
  height: 100%;
  display: block;
  border-radius: 25px;
}

.rock {
    background-color: #B22222;
}

.sciss {
    background-color: #FFD700;
}

.paper {
    background-color: #1E90FF;
}

.p1 {
    background-color: #36AE7C;
}

.p2 {
    background-color: #8062D6;
}

@media (min-width: 1400px) {

    .icon {
        max-width: 300px;
      }

    .head-button {
        max-width: 200px;
    }
}

@media (max-width: 500px) {
    .head-button {
        min-width: 50px;
    }
}