<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>RSP</title>
    </head>
    <body>
        <div class="head">
            <h1>Welcome to the fight!</h1>
            <div class="score">
                <p id="score1">score1</p>
                <p id="score2">score2</p>
            </div>
            <button>Restart</button>
        </div>
        <div class="game">
                <div class="picker-container">
                    <div id="rock1" class="rock rsp-container"><img class="icon" src="../icons/rock.png" alt="Rock" /></div>
                    <div id="sciss1" class="sciss rsp-container"><img class="icon" src="../icons/sciss.png" alt="Scissor" /></div>
                    <div id="paper1" class="paper rsp-container"><img class="icon" src="../icons/paper.png" alt="Paper" /></div>
                </div>
                <div class="battlefield">
                    <div></div>
                    <div id ="picked1" class="picked">
                    </div>
                    <div class="result">
                    </div>
                </div>
                <div class="battlefield">
                    <div></div>
                    <div id ="picked2" class="picked">
                    </div>
                    <div class="result">
                    </div>
                </div>
                <div class="picker-container">
                    <div id="rock2" class="rock rsp-container"><img class="icon" src="../icons/rock.png" alt="Rock" /></div>
                    <div id="sciss2" class="sciss rsp-container"><img class="icon" src="../icons/sciss.png" alt="Scissor" /></div>
                    <div id="paper2" class="paper rsp-container"><img class="icon" src="../icons/paper.png" alt="Paper" /></div>
                </div>
        </div>
    </body>
</html>