<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSP</title>
</head>

<body>
    <div class="head">
        <h1>Welcome to the fight!</h1>
        <div class="score">
            <p id="score1">score1</p>
            <p id="score2">score2</p>
        </div>
        <button>Restart</button>
    </div>
    <div class="game">
        <div id="player1" class="player">
            <div id="rock1" class="rock rsp">Rock</div>
            <div id="sciss1" class="sciss rsp">Scissor</div>
            <div id="paper1" class="paper rsp">Paper</div>
        </div>
        <div id="player2" class="player">
            <div id="rock2" class="rock rsp">Rock</div>
            <div id="sciss2" class="sciss rsp">Scissor</div>
            <div id="paper2" class="paper rsp">Paper</div>
        </div>
    </div>
</body>
</html>